@import url(./vars.css);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.child i{
    color: cornsilk;
}

body {
    background-color: var(--bg-clr-dark);
  }
  .terminal{
    margin-top: 65px;
    padding: 15px;
  
  }
  .logo {
    margin: 10px 10px 85px;
    text-align: center;
  }
  
 
  input {
    border: 1.5px solid;
    background-color: var(--bg-clr-light);
    padding: 20px;
    margin: 10px 10px 25px;
    border-radius: 5px;
    width: 90%;
  }
   p {
    font-size: 19px;
    text-transform: capitalize;
    color: var(--white);
    margin-bottom: 5px;
    width: 95%;
    margin: 10px 10px 25px;
    font-family: var(--main-font);

  }
  button {
    font-family: var(--main-font);
    background-color: var(--main-clr);
    font-weight: 100px;
    width: 90%;
    font-size: 30px;
    color: rgb(7, 7, 7);
    border-radius: 5px;
    border: var(--main-clr);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px 10px 25px;
  }
  
  @media screen and (min-width: 992px) {
    body {
        background: rgb(8, 32, 50);
        background: linear-gradient(
            49deg,
            rgba(8, 32, 50, 1) 0%,
            rgba(8, 32, 50, 0.9940709560191264) 60%,
            rgba(22, 55, 79, 0.7867880428538603) 100%
          ),
          url(../Images/vegitables-bg.jpg);
          background-repeat: no-repeat;
          background-size: 100% 100%;

        }


}
