@import url(./vars.css);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-clr-dark);
}

.logo {
  width: 80%;
  margin: 10px 10px 15px;
  text-align: center;
  padding: 45px 0px;
 
}

input {
  border: 1.5px solid;
  background-color: var(--bg-clr-light);
  padding: 20px;
  margin: 10px 10px 25px;
  border-radius: 5px;
  width: 90%;
}
p {
  font-size: 19px;
  text-transform: capitalize;
  color: var(--white);
  margin-bottom: 5px;
  width: 95%;
  margin: 10px 10px 25px;
  font-family: var(--main-font);
}
button {
  font-family: var(--main-font);
  background-color: var(--main-clr);
  font-weight: 1000px;
  width: 90%;
  font-size: 30px;
  color: rgb(7, 7, 7);
  border-radius: 5px;
  border: var(--main-clr);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding: 10px;
  margin: 10px 10px 25px;
}
.information {
  display: none;
}
.child i{
  position: absolute;
    top : 20px;
    left: 60px;
}.child{
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 100px;
  }
  input {
    border: 1.5px solid;
    background-color: var(--bg-clr-light);
    padding: 22px;
    margin: 10px 10px 15px;
    border-radius: 5px;
    width: 80%;
  }
  button {
    font-family: var(--main-font);
    background-color: var(--main-clr);
    font-weight: 1000;
    border-radius: 5px;
    border: var(--main-clr);
    text-align: center;
    width: 80%;
    padding: 10px;
    font-weight: 600;
  }
  
  .info__form p{
    font-size: 35px;
    margin: 5px 15px 5px;
  }
  .info__form{
    text-align: center;

  }
  .child i{
    position: absolute;
      top : 20px;
      left: 60px;
  }
}

@media screen and (min-width: 992px) {
  body {
    background: rgb(8, 32, 50);
    background: linear-gradient(
        49deg,
        rgba(8, 32, 50, 1) 0%,
        rgba(8, 32, 50, 0.9940709560191264) 60%,
        rgba(22, 55, 79, 0.7867880428538603) 100%
      ),
      url(../Images/vegitables-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .information {
    margin: 100px 0;
    width: 100px;
    display: block;
  }
  .information img {
    width: 100%;
  }
  .logo {
    padding: 20px 40px;
    width: 300px;
    margin: auto;
  }
  .logo img {
    width: 100%;
  }
  button {
    font-family: var(--main-font);
    background-color: var(--main-clr);
    font-weight: 1000PX;
    width: 80%;
    border-radius: 5px;
    border: var(--main-clr);
    text-align: center;
    padding: 5px;
    margin: 10px 10px 15px;
  }
  input {
    border: 1.5px solid;
    background-color: var(--bg-clr-light);
    padding: 15px;
    margin: 10px 10px 15px;
    border-radius: 5px;
    width: 80%;
  }
  .child {
    width: 40%;
    text-align: center;
    padding: 65px 0px;
  }
  .information {
    width: 36%;
    height: 500px;
    padding: 50px 0px;

  }
  main {
    display: flex;
    margin: auto;
    justify-content: space-around;
    height: 100vh;
  }
  .info__form P{
    font-size: 22px;
  }
  .child i{
    position: absolute;
      top : 20px;
      left: 60px;
  }
}
