@import url(./vars.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  background-color: var(--bg-clr-dark);
  color: var(--txt-clr);
  min-height: 100vh;
}
img {
  max-width: 100%;
}
.quote {
  display: none;
}
main {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
label,
input {
  display: block;
  width: 100%;
}

.login {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.login__img {
  margin: 2rem auto 4rem;
  max-width: 200px;
}
.mb {
  margin-bottom: 2rem;
}
input {
  padding: 12px 1rem;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 3px;
  color: var(--white);
}
input:focus {
  outline: 2px solid var(--main-clr);
}
label {
  margin-bottom: 0.7rem;
}
input[type="submit"] {
  background: var(--main-clr);
  color: var(--bg-clr-dark);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
[class="login__form--password mb"] {
  display: flex;
  position: relative;
}
#show--pass {
  width: 20px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
[type="password"] {
  padding-right: 3rem;
}

@media only screen and (min-width: 930px) {
  .quote {
    display: block;
    max-width: 800px;
  }
  .quote h1 {
    color: var(--white);
    font-family: var(--headings-font);
    font-size: 3.5rem;
  }
  .quote p {
    text-align: right;
    font-style: italic;
    font-weight: 300;
  }
  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0 4rem;
  }
  .login,
  .quote {
    margin: 0;
    flex-basis: 50%;
  }
  body {
    background: linear-gradient(49deg, rgba(8, 32, 50, 1) 0%, rgba(8, 32, 50, 0.9940709560191264) 60%, rgba(22, 55, 79, 0.7867880428538603) 100%), url(../Images/vegitables-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
