@import url(./vars.css);
* {
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
}
:root {
  --bg-clr-dark: rgb(8, 32, 50);

  --bg-clr-light: rgb(22, 55, 79, 0.9);
}

body {
  background-color: #082032;
}
header {
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

input {
  border: 1.5px solid;
  background-color: #415461;
  padding: 15px;
  margin: 10px 0px 25px;
  border-radius: 5px;
  width: 100%;
}

label {
  font-size: 15px;
  text-transform: capitalize;
  color: rgb(253, 250, 250);
  margin-bottom: 5px;
}

button {
  font-family: Roboto;
  background-color: #ffc100;
  font-weight: 1000;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  color: rgb(7, 7, 7);
  border-radius: 5px;
  border: #ffc100;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.info {
  color: rgb(253, 252, 247);
}
.info P {
  color: rgb(248, 248, 247);
  text-decoration: underline;
  font-size: 15px;
}
.box {
  display: none;
}
@media screen and (min-width: 1200px) {
  body {
    background: rgb(8, 32, 50);
    background: linear-gradient(
        49deg,
        rgba(8, 32, 50, 1) 0%,
        rgba(8, 32, 50, 0.9940709560191264) 60%,
        rgba(22, 55, 79, 0.7867880428538603) 100%
      ),
      url(../Images/vegitables-bg.jpg) no-repeat center/cover;
  }
  .box{
    display: flex;
    gap: 15px;
    color: #fff;
    display: flex;
    justify-content: right;
    position:absolute;
    top:150px;
  right: 300px;
} 
.first-form{
    display: grid;
    column-gap: 15px;
    grid-template-columns:;

}





}





